@charset "UTF-8";

body {
	width: 1100px;
	min-height: 800px;
	margin: 0 auto;
}

.height700 {
	height: 700px;
}

.displayinline {
	display: inline-block;
}

.floatright {
	float: right;
}

.padding10 {
	padding: 10px;
}

.textcenter {
	text-align: center;
}

.marginleft10 {
	margin-left: 10px;
}

.fontsize11 {
	font-size: 11px;
}

.margintop5 {
	margin-top: 5px;
}

.cartscroll {
	display: block;
	overflow: auto;
}

.clearboth {
	clear: both;
}

.padding3 {
	padding: 3px;
}

.margin0 {
	margin: 0px;
}

#tab ul {
	white-space: nowrap;
	overflow-x: auto;
    margin-left: -20px;
	padding: 0px;
    height: 126px;
	width: 1048px;
}

#tab ul li {
	display: inline-block;
	padding: 10px 10px;
	margin-right: 10px;
}
